/Apple_Oranges_ML.py
/correlation_matrix_heatmap.png
/iris.py
/iris_classification.py
/MNIST_DATASET(book.example).py
/Module4_assignment1.py
/practicing.py
/Project_Part1.docx
/project_part1.py
/Project_Part2.docx
/project_part2.py
/scatter_matrix.png
/water_potability.csv
/water_quality_dataset